@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/PTSans-Regular.woff2") format("woff2");
   font-display: swap;
 }
 
 @font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/PTSans-Bold.woff2") format("woff2");
   font-display: swap;
 }
 
 @font-face {
   font-family: "PT Sans";
   font-style: italic;
   font-weight: 400;
   src: url("../fonts/PTSans-Italic.woff2") format("woff2");
 }
 
 @font-face {
   font-family: "PT Sans";
   font-style: italic;
   font-weight: 700;
   src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
   font-display: swap;
 }
 
 /* PT Sans Narrow */
 @font-face {
   font-family: "PT Sans Narrow";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/PTSans-NarrowBold.woff2") format("woff2");
   font-display: swap;
 }
 
 html {
   height: 100%;
 }
 
 body {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   margin: 0;
   font-family: "PT Sans", sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #242424;
   background-color: #FBF7F4;
 }
 
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
 
 /* Button */
 .button {
   font-family: inherit;
   font-size: 16px;
   line-height: 16px;
   font-weight: 700;
   text-align: center;
   color: #FFFFFF;
   background-color: #000000;
   text-decoration: none;
   text-transform: uppercase;
 }
 
 /* Light */
 .button-light,
 .button-current {
   color: #242424;
   background-color: #FFFFFF;
   border: 2px solid rgba(239, 51, 255);
 }

 .button-black {
   border: 2px solid rgba(239, 51, 255);
 }
 
 /* Pages */
 
 .page-header {
   color: #FFFFFF;
   background-color: #000000;
 }
 
 .navigation {
   display: flex;
   width: 940px;
   margin: 0 auto;
 }
 
 .navigation-list {
   display: flex;
   flex-wrap: wrap;
   width: 470px;
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 .navigation-link {
   display: block;
   padding: 24px 19px;
   font-family: "PT Sans Narrow", sans-serif;
   line-height: 22px;
   font-weight: 700;
   text-align: center;
   color: #FFFFFF;
   background-color: #000000;
   text-decoration: none;
   text-transform: uppercase;
 }
 
 .navigation-logo {
   display: flex;
   align-items: center;
   width: 140px;
   margin-right: 100px;
 }
 
 .navigation-user {
   max-width: 210px;
   margin-left: auto;
 }
 
 .navigation-user .navigation-link {
   min-width: 16px;
   min-height: 22px;
   border: 2px solid rgba(239, 51, 255);
 }
 
 .main-container {
   flex-grow: 1;
   padding-top: 64px;
   padding-bottom: 60px;
 }
 
 .main-index {
   color: #FFFFFF;
   background-color: #000000;
   background-image: url("../images/index-bg.jpg");
   background-size: 100% auto;
   background-repeat: no-repeat;
 }
 
 .main-inner {
   padding-top: 40px;
   color: #242424;
   background-color: #FBF7F4;
   background-image: url("../images/bg-noisy.png");
 }
 
 .page-container {
   width: 940px;
   margin: 0 auto;
 }
 
 .logo {
   display: block;
   margin: 0 auto;
   margin-bottom: 64px;
 }
 
 /* Advantages */
 .advantages {
   margin-bottom: 58px;
 }
 
 /* List */
 .advantages-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   text-align: center;
   list-style-type: none;
   color: #FFFFFF;
 }
 
 /* Item */
 .advantages-item {
   width: 277px;
 }
 
 /* Title */
 .advantages-title {
   margin-top: 0;
   margin-bottom: 56px;
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 32px;
   line-height: 35px;
   text-transform: uppercase;
 }
 
 /* Description */
 .advantages-description {
   margin: 0;
 }
 
 /* Index columns */
 .index-columns {
   display: flex;
   justify-content: space-between;
   margin-bottom: 32px;
   padding: 40px;
   color: #242424;
   background-color: #FBF7F4;
   background-image: url("../images/bg-noisy.png");
 }
 
 .index-columns:last-child {
   margin-bottom: 0;
 }
 
 /* Services */
 
 .services {
   width: 390px;
   text-transform: uppercase;
 }
 
 /* Title */
 .services-title {
   margin-top: 0;
   margin-bottom: 28px;
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
 }
 
 /* Price */
 .services-list {
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
 }
 
 .services-price {
   color: #AF7842;
 }
 
 .gallery {
   width: 390px;
 }
 
 /* Title */
 .gallery-title {
   margin-top: 0;
   margin-bottom: 28px;
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
   text-transform: uppercase;
 }
 
 .contacts {
   width: 350px;
   font-weight: 700;
 }
 
 /* Title */
 .contacts-title {
   margin-top: 0;
   margin-bottom: 28px;
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
   text-transform: uppercase;
 }
 
 .contacts-address {
   font-style: normal;
 }
 
 /* Subtitle */
 .contacts-subtitle {
   font-size: 20px;
   line-height: 28px;
   text-transform: uppercase;
   color: #AF7842;
 }
 
 /* Phone */
 .contacts-phone {
   font-size: 24px;
   line-height: 29px;
   text-decoration-line: underline;
   text-transform: uppercase;
   color: #242424;
 }
 
 .appointment {
   width: 430px;
 }

 .appointment-form {
  display: grid;
  grid-template-columns: 114px 74px 208px;
  gap: 20px;
}

.field-group {
   display: flex;
   flex-direction: column;
   margin: 0;
 }

 .appointment-form  .info {
   display: none;
 } 
 
.appointment-form-name {
   grid-column: 1 / -1;
 }

 .appointment-submit {
   grid-column: 1 / -1;
   justify-self: start;
 }
 
 /* Title */
 .appointment-title {
   margin-top: 0;
   margin-bottom: 28px;
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
   text-transform: uppercase;
 }
 
 /* List */
 .appointment-info {
   color: #595959;
 }
 
 /* Label */
 .form-label {
   line-height: 24px;
   font-weight: 700;
   text-transform: uppercase;
 }
 
 /* Footer */
 
 .page-footer {
   font-size: 14px;
   font-weight: 700;
   color: #FFFFFF;
   background-color: #242424;
   background-image: url("../images/bg-noisy.png");
   background-repeat: repeat;
 }
 
 .page-footer-container {
   display: flex;
   width: 940px;
   margin: 0 auto;
   padding: 40px 0;
 }
 
 .page-footer a {
   color: #FFFFFF;
 }
 
 .page-footer .htmlacademy-link {
   font-size: 14px;
   color: #DBB590;
 }
 
 .page-footer-title {
   margin-top: 0;
   margin-bottom: 14px;
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
   color: #FFFFFF;
   text-transform: uppercase;
 }
 
 .footer-contacts {
   width: 200px;
   margin-right: 130px;
 }
 
 .footer-contacts-address {
   font-style: normal;
 }
 
 .footer-contacts-address p {
   font-size: 14px;
   line-height: 20px;
   font-weight: 700;
   color: #FFFFFF;
 }
 
 .footer-contacts-address-phone {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
   text-decoration: underline;
   text-transform: uppercase;
 }
 
 .footer-contacts-map-link {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   line-height: 26px;
   font-weight: 700;
   color: #FFFFFF;
   text-decoration: underline;
   text-transform: uppercase;
 }
 
 .footer-social {
   margin-left: auto;
   max-width: 190px;
 }
 
 .footer-social-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 .footer-social-item {
   width: 56px;
   height: 44px;
   margin-right: 8px;
   margin-bottom: 8px;
   outline: 2px solid rgba(239, 51, 255);
 }
 
 .footer-social-item:nth-child(3n) {
   margin-right: 0;
 }

 .inner-header {
   margin-bottom: 32px;
 }

 .inner-header-title {
   margin-top: 0;
   margin-bottom: 16px;
   font-size: 32px;
   line-height: 35px;
   text-transform: uppercase;
 }
 
 /* Breadcrumbs */
 .breadcrumbs {
   display: flex;
   margin: 0;
   padding: 0;
   color: #242424;
   list-style-type: none;
 }
 
 /* Link */
 .breadcrumbs-link {
   color: inherit;
   margin-right: 32px;
 }
 
 .catalog-products {
   display: flex;
 }
 
 .catalog-filter {
   width: 220px;
   margin-right: 20px;
 }
 
 .catalog-right-column {
   width: 700px;
 }
 
 /* Title */
 .catalog-filter-title {
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
   color: #242424;
   text-transform: uppercase;
 }
 
 /* Label */
 .control-label {
   font-weight: 700;
 }
 
 .sorting-container {
   display: flex;
   margin-bottom: 16px;
   padding: 16px;
   color: #000000;
   background-color: #FFFFFF;
 }
 
 .sorting-type {
   margin-right: auto;
 }
 
 .sorting-container .button {
   width: 56px;
   height: 44px;
 }
 
 .product-list {
   display: grid;
   grid-template-columns: repeat(3, 220px);
   list-style-type: none;
   margin: 0;
   margin-bottom: 24px;
   padding: 0;
   gap: 20px;
 }
 
 /* Item */
 .product-card {
   background-color: #FFFFFF;
   display: grid;
   grid-template-rows: 200px min-content auto min-content 16px;
   grid-template-columns: 16px 188px 16px; 
 }
 
 /* Image */

.product-card-image-link {
  grid-column: 1 / -1;
  background-color: #f6f6f6;
}

 /* Link */
 .product-card-link {
   text-decoration: none;
 }
 
.product-card-title-link,
.product-card-price,
.product-card-button {
  grid-column: 2 / 3;
}

 /* Title */
.product-card-title-link {
  margin-top: 16px;
  margin-bottom: 8px;
} 

 .product-card-title {
   font-weight: 700;
   color: #242424;
 }
 
 /* Price */
 .product-card-price {
   font-size: 24px;
   line-height: 29px;
   font-weight: 700;
   color: #814B18;
   text-transform: uppercase;
   margin-bottom: 16px; 
 }
 
 /* Pagination */
 .pagination-container {
   display: flex;
   padding: 16px;
   background-color: #FFFFFF;
 }
 
 .pagination {
   display: flex;
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 /* Item */
 
 .pagination-item:not(:last-child) {
   margin-right: 8px;
 }
 
 .pagination-link {
   display: block;
   box-sizing: border-box;
   width: 50px;
   height: 44px;
   padding: 14px 20px;
   line-height: 16px;
   font-weight: 700;
   color: #FFFFFF;
   background-color: #000000;
   text-decoration: none;
 }
 
 /* Without background */
 .pagination-clear {
   background-color: transparent;
 }
 
 /* Show more */
 .pagination-show-more {
   margin-left: auto;
 }
 
 .pagination-current {
   color: #242424;
   background-color: #FFFFFF;
 }
 
 .pagination-disabled {
   background-color: #595959;
 }
 