/*
фоновые изображения главной страницы и фильтра в каталоге подключаются после:
1. импорта графики из figma
2. оптимизации изображений
3. добавления в структуре проекта отдельной папки для графики image

создаём файл style.css в папке css
и подключаем его через link rel="stylesheet" href="./css/style.css"
в index.html
*/


@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  color: #333333;
  background-color: #E5E5E5;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page-main {
  flex-grow: 1;
  background-color: #FFFFFF;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.site-menu {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.site-menu-link {
  color: #000000;
  text-decoration: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  background-color: #FFFFFF;
}

.page-footer-social {
  margin: 0;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.main-promo {
  min-height: 485px;
  background-color: #83B3D3;
  background-image: url("../img/background/bg-promo.jpg");
}

.main-header {
  padding: 35px 72px 83px;
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/catalog-bg.jpg");
  background-size: cover;
}

.main-heading {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.section-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

.button {
  color: #ffffff;
  background-color: #83B3D3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-secondary {
  background-color: #756257;
}

.button-large {
  font-size: 20px;
}

.range-title {
  opacity: 0.3;
}

.range-input {
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.page-header {
}
.logo {
}
.site-menu-item {
}
.site-menu-item-active {
}
.icon-button {
}
.visually-hidden {
}
.icon-button-counter {
}
.advantages {
  text-align: center;
}

.advantage-list {
  margin: 0;
  padding: 0;
}

.advantage-list-inner{
  color: #333333;
  background: #ffffff;
}

.advantage-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:not(.advantage-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item-large {
  color: #FFFFFF;
  background: #83B3D3;
}

.advantage-list-inner .advantage-item:nth-child(even) {
  background-color: #ffffff;
}

.advantage-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-item-large > .advantage-title {
  color: #ffffff;
}

.advantage-text {
  line-height: 21px;
}

.advantage-image {
}

.searsh {
  text-align: center;
}

.section-text {
}
.searsh-button {
}

.subscribe {
  text-align: center;
}

.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/bg-subscribe.jpg");
  background-size: cover;
}

.subscribe-form {
}
.subscribe-field {
}
.field {
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  background-color: #f2f2f2;
}

.subscribe-button {
}

.social {
  padding: 0;
}

.social-item {
}
.social-link {
}
.vsually-hidden {
}
.footer-dev {
}
.dev {
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.card-title {
  font-size: 24px;
  line-height: 31px;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-rate {
  font-size: 16px;
  text-transform: uppercase;
}

.filter-form {
  display: flex;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-fieldset {
  width: 200px;
  margin: 0;
  margin-right: 17px;
  padding: 0;
}

.filter-fieldset-price {
  width: 287px;
  margin-left: 95px;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter-buttons{
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 64px;
}

.filter-reset {
  align-self: center;
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.catalog {
  padding: 0 72px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
}

.catalog-title {
  width: 50%;
  margin: 0;
}

.catalog-select {
  width: 287px;
  margin-right: auto;
}

.view {
  margin: 0;
  padding: 0;
}

.pagination-nav {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-link {
  color: #ffffff;
  background: #83B3D3;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-select {
  display: flex;
}





