/*
фоновые изображения главной страницы и фильтра в каталоге подключаются после:
1. импорта графики из figma
2. оптимизации изображений
3. добавления в структуре проекта отдельной папки для графики image

создаём файл style.css в папке css
и подключаем его через link rel="stylesheet" href="./css/style.css"
в index.html
*/


@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  color: #333333;
  background-color: #E5E5E5;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.header-nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  min-height: 65px;
  padding: 0 70px;
}

.logo {

  z-index: 1;
  padding: 0;
  margin: 0;
}

.logo-img {
  display: block;
  padding: 0;
  margin: 0;
}

.site-menu {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style-type: none;
}

.site-menu-item{
  display: flex;
  align-items: center;
}

.site-menu-item-active {
  position: relative;
}

.site-menu-item-active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 3px;

  height: 2px;
  background-color: #756257;

}

.site-menu-link {
  display: block;
  padding: 17px;
  color: #000000;
  text-decoration: none;
}

.site-menu-link[href]:hover{
  color: #756257;
}

.site-menu-link[href]:active{
  color: #756257;
  opacity: 0.3;
}

.additional-menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 322px;
}

.additional-menu-button {
  display: block;
  min-width: 160px;
  padding: 7px 15px;
  border-radius: 4px;
  margin-left: 20px;
  text-align: center;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 30px;
  padding: 27px 62px 20px;
  background-color: #FFFFFF;
}

.page-footer-social {
  align-self: start;
  margin-top: 8px;
}

.footer-phone {
  padding: 15px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}


.footer-dev {
  display: block;
  margin-right: -12px;
  padding: 16px 22px;
  justify-self: end;
  border-radius: 10px;
}

.footer-dev:hover {
  fill:#756257;
}

.footer-dev:active {
  fill:#756257;
  opacity: 0.3;
}

.footer-dev:focus {
  fill:#756257;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.footer-dev-img {
  display: block;
}

.main-promo {
  min-height: 485px;
  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-position:
    50% calc(50% - 16px),
    50% 100%,
    50% 50%;
  background-size:
    auto auto,
    100% auto,
    cover;
  background-image:
  url("../img/welcome-promo.svg"),
  url("../img/divider.svg"),
  url("../img/background/bg-promo.jpg");
}

.main-header {
  padding: 35px 72px 83px;
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/catalog-bg.jpg");
  background-size: cover;
}

.main-heading {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.section-title {
  margin: 0;
  margin-bottom: 36px;

  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #68a2ca;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button:focus {
  outline: 3px solid #615048;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.button-secondary:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button-large {
  padding: 16px;
  border-radius: 10px;
  font-size: 20px;
}

.icon-button{
  position: relative;
  display: grid;
  place-content: center;
  width: 42px;
  height: 42px;
  fill: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-button:hover {
  fill: #756257;
}

.icon-button:active {
  color: #756257;
  opacity: 0.3;
}


.icon-button-counter {
  position: absolute;
  top: 3px;
  right: -3px;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  color: #ffffff;
  background-color:#7DB54F;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}

.icon-button[href]:active .icon-button-counter {
  color: rgba(255, 255, 255, 0.3)
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range-field {
  display: grid;
  grid-template-columns: 1fr 44px;
}

.range-input {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.range-title {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  opacity: 0.3;
}

.range-slider {
  grid-column: 1 / -1;
}

.advantages {
  text-align: center;
}

.advantages-content {
  padding: 63px 240px 80px;
}

.advantage-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: advantages;
}

.advantage-item {
  display: grid;
  gap: 30px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
}

.advantage-item-large {
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;

  color: #ffffff;
  background: #83B3D3;
}

.advantage-item:not(.advantage-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-description {
  display: grid;
  align-content: center;
  gap: 26px;
  min-height: 384px;
  padding: 60px;
  padding-top: 98px;
}

.advantage-description::before {
  content: "- №" counter(advantages) "-";
}

.advantage-list-inner {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;

  color: #333333;
  background: #ffffff;
  list-style: none;
}

.advantage-inner-item {
  display: grid;
  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 60px;
  padding-top: 184px;
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 88px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-inner-item:nth-child(even) {
  background-color: #ffffff;
}

.advantage-inner-item-house {
  background-image: url("../img/icons/house.svg");
}

.advantage-inner-item-food {
  background-image: url("../img/icons/burger.svg");
}

.advantage-inner-item-present {
  background-image: url("../img/icons/present.svg");
}

.advantage-title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-item-large .advantage-title {
  color: #ffffff;
}

.advantage-inner-item .advantage-title {
  color: #000000;
}

.advantage-list-inner .advantage-item:nth-child(even) {
  background-color: #ffffff;
}

.advantage-description .advantage-title {
  order: -1;
}

.advantage-image {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantage-item-large:nth-child(2) .advantage-image {
  order: -1;
}

.advantage-text {
  margin: 0;
  line-height: 21px;
}

.searsh {
  padding: 91px 240px 93px;
  text-align: center;
}

.section-text {
}

.searsh-button {
  width: 575px;
  margin-top: 56px;
}

.subscribe {
  padding: 94px 200px 93px;
  text-align: center;
}

.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/bg-subscribe.jpg");
  background-size: cover;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 46px;
}

.subscribe-field .field-input {
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  border-radius: 0 10px 10px 0;
}

.field {
  display: flex;
}

.field-input {
  width: 100%;
  padding: 8px 20px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83B3D3;
}

field-input-error {
  border: 2px solid #FF5757;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2px;
  margin-left: -2px;
  padding: 0;
  list-style-type: none;
}

.social-item {
  margin: 2px;
}

.social-link {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  fill: #83b3d3;
}

.social-link:hover {
  fill: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.social-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  font-size: 16px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 10px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  grid-template-rows: 206px;
  grid-template-areas:
    "image image image"
    "title title title"
    "description description description"
    "button-more . button-chosen"
    "stars rate rate";
  row-gap: 16px;
  padding: 20px;
}

.card-img {
  order: -1;
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover;
}

.card-title {
  grid-area: title;
  margin: 0;
  font-size: 24px;
  line-height: 31px;
}

.card-description {
  grid-column: description;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-more {
  grid-area: button-more;
}

.card-chosen {
  grid-area: button-chosen;
}

.card-rate {
  grid-area: rate;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 223px;
  justify-content: space-between;
  gap: 17px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
}

.filter-fieldset-price {
  margin-left: 96px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-buttons{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.filter-reset {
  align-self: center;
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.catalog {
  padding: 0 72px;
}

.catalog-sort {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  gap: 80px;
  padding: 44px 0;
}

.catalog-title {
  margin: 0;
}

.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 224px;
  margin: -4px;
  padding: 0;
  list-style-type: none;
}

.view-item {
  margin: 4px;
}

.view-link{
  display: block;
  width: 48px;
  height: 48px;
  outline: 2px solid red;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.pagination-button {
  min-width: 620px;
}

.pagination-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin: 0 4px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  height: 55px;
  padding: 8px;
  color: #ffffff;
  background: #83B3D3;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-select {
  display: flex;
}

.select-label{
  margin: 0;
  margin-right: 50px;
}





