.page {
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #222222;
    background-color: #f2f4f6;
    background-image: url("img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  .container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .page-header {
    margin: 0 0 160px;
    padding: 32px 0 32px;
  }
  
  .page-header .container,
  .page-footer .container {
    max-width: 1408px;
    text-align: right;
  }
  
  .page-header a {
    margin-left: 56px;
    color: #288be6;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .header-email {
    padding-left: 30px;
    background-image: url("img/icon-email-header.svg");
  }
  
  .header-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-header.svg");
  }
  
  .hero-image {
    margin-bottom: 620px;
  }
  
  .hero-image .container {
    max-width: 1408px;
    text-align: center;
  }
  
  .heading {
    margin: 0 0 16px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 88px;
    line-height: 96px;
    font-weight: 400;
    text-shadow: -3px 2px 5px #ea9825;
    letter-spacing: 9px;
  }

  .dev {
   position: fixed;
   top: 5px;
   left: 20px;
   margin: 10px auto;
   font-size: 22px;
   line-height: 36px;
   width: 140px;
   text-align: center;
   border: 4px solid #333333;
   border-radius: 10px;
   text-shadow:
      -1px -1px 1px #1e181c,
      2px 1px 1px #52424d;
   cursor: none;
}
  
  .intro {
    margin: 0 0 120px;
  }
  
  .subheading {
    margin-top: 30px;
    padding-top: 30px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
    text-shadow:
      2px 2px #e5d4c0,
      4px 4px rgba(0, 0, 0, 0.2);
  }

  .me {
    margin: 0;
    text-align:center;
    padding: 6px 20px;
    display: display-box;
    vertical-align: baseline;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: #7aa9df;
    color: #ffffff;
  }

  .user-family {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
    margin: 0;
    text-align: center;
  }

  .my-son {
    display: display-box;
    vertical-align: baseline;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: #7aa9df;
    color: #ffffff;
    margin: 0;
  }

  .my-wife {
    display: display-box;
    vertical-align: baseline;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: #7aa9df;
    color: #ffffff;
    margin: 0;
  }

  .user-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  img {
    border-radius: 10px;
  }

  .my-daughter {
    margin: 0;
    padding: 6px 20px;
    display: display-box;
    vertical-align: baseline;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: #7aa9df;
    color: #ffffff;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
  }
  
  .intro p {
    margin: 0 0 40px;
  }
  
  .skills-list {
    margin: 0;
    padding: 0;
  }
  
  .skills-list dt {
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .skill-html {
    background-image: url("img/icon-html.svg");
  }
  
  .skill-css {
    background-image: url("img/icon-css.svg");
  }
  
  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }
  
  .level div {
    margin: 1px;
    height: 12px;
    background-color: #288be6;
    border-radius: 6px;
  }
  
  .portfolio {
    margin: 0 0 120px;
  }
  
  .projects {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .projects li {
    margin: 0 0 80px;
  }
  
  .project-image {
    margin: 0 0 24px;
    text-align: center;
  }
  
  .projects p {
    margin: 0 0 24px;
  }
  
  .button {
    padding: 6px 20px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #7aa9df;
    color: #ffffff;
  }
  
  .page-footer {
    padding: 40px 0;
    background-color: #00417d;
    color: #ffffff;
  }
  
  .page-footer a {
    margin-left: 56px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .footer-email {
    padding-left: 30px;
    background-image: url("img/icon-email-footer.svg");
  }
  
  .footer-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-footer.svg");
  }

  .theme-button {
   position: relative;
   margin-top: 20px;
   padding-top: 7px;
   padding-right: 16px;
   padding-bottom: 7px;
   padding-left: 16px;
   font-size: 12px;
   border-radius: 2px;
   background-color: transparent;
   cursor: pointer;
   color:#288be6;
   border: 1px solid #288be6;;
 }
 
 .theme-button:active {
   opacity: 0.8;
 }
 
 .theme-button:focus,
 .theme-button:hover {
   color: #ffffff;
   background-color: #06539a;;
 }
 .theme-button:focus {
   outline-color: #b6aaff;
 }


 /* Тёмная тема */

 .dark-theme {
   color: #f2f2f2;
   background-color: #17161a;
 }
 
 .dark-theme .page-header{
   background-color: #3f3c53;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
 }

 .dark-theme {
    background-image: url("img/hero-bg-dark-basik.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }

 
 .dark-theme a {
   color: #9484f2;
 }
 
 .dark-theme .theme-button {
   color: #9484f2;
   border: 1px solid #9484f2;
 }
 
 .dark-theme .theme-button:focus,
 .dark-theme .theme-button:hover {
   color: #17161a;
   background-color: #9484f2;
 }
 
 .dark-theme .status p {
   background-color: #2a2930;
 }
 
 .dark-theme .page-footer {
   background-color: #373540;
   color: #f2f2f2;
 }

 .dark-theme .button {
   margin: 0 auto;
   background-color: #2f08f0;
   color:  #9484f2;
 }

 .dark-theme .header-email {
   padding-left: 30px;
   background-image: url("/themes/basic-dark-theme/basic-dark-theme/img/icon-email.svg");
 }

 .dark-theme .header-phone {
   padding-left: 25px;
   background-image: url("/themes/basic-dark-theme/basic-dark-theme/img/icon-phone.svg");
 }

 .dark-theme .footer-email {
   padding-left: 30px;
   background-image: url("/themes/basic-dark-theme/basic-dark-theme/img/icon-email.svg");
 }
 
 .dark-theme .footer-phone {
   padding-left: 25px;
   background-image: url("/themes/basic-dark-theme/basic-dark-theme/img/icon-phone.svg");
 }