.card {
  position: relative;
  z-index: 0;
  padding-top: 19px;
  padding-bottom: 24px;
  display: grid;

  @media (max-width: @breakpoint-small-down) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img link"
      "img list"
      "button button";
  }

  @media (min-width: @breakpoint-medium) {
    padding: 8px 38px 41px;
    grid-template-rows: 200px auto;
    grid-template-areas:
      "img"
      "link"
      "list"
      "button";
    background-color: @color-gray-50;
    background-image: linear-gradient(to bottom, @color-white 80px, @color-gray-50 80px);
  }

  @media (min-width: @breakpoint-large) {
    padding: 21px 38px 40px;
  }
}

.card__link {
  margin-bottom: 9px;
  padding-right: 60px;
  grid-area: link;
  color: @color-gray-850;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 80px;
    left: 0;
  }

  @media (min-width: @breakpoint-medium) {
    margin-top: 33px;
    margin-bottom: 6px;
    padding: 0 40px;

    &::after {
      bottom: 120px;
    }
  }

  @media (min-width: @breakpoint-large) {
    margin-top: 0;
    padding: 20px 0 0;
    margin-bottom: 7px;
  }
}

.card__heading {
  margin: 0;
  font-family: @font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @breakpoint-medium) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__picture,
.card__img {
  grid-area: img;
  align-self: center;
  justify-self: center;
  width: auto;
  display: block;
}

.card:first-child {
  .card__img {
    @media (max-width: @breakpoint-small-down) {
      margin-bottom: 10px;
    }

    @media (min-width: @breakpoint-medium) {
      margin-top: 25px;
    }

    @media (min-width: @breakpoint-large) {
      margin-bottom: 15px;
      margin-top: 0;
    }
  }
}

.card:nth-child(3),
.card:nth-child(5),
.card:nth-child(7) {
  .card__img {
    @media (max-width: @breakpoint-small-down) {
      margin-top: 10px;
    }

    @media (min-width: @breakpoint-medium) {
      margin-top: 24px;
    }

    @media (min-width: @breakpoint-large) {
      margin-bottom: 16px;
      margin-top: 0;
    }
  }
}

.card:nth-child(2),
.card:nth-child(4),
.card:nth-child(6) {
  .card__img {
    @media (max-width: @breakpoint-small-down) {
      margin-top: 0;
    }

    @media (min-width: @breakpoint-medium) {
      margin-top: 3px;
    }

    @media (min-width: @breakpoint-large) {
      margin-bottom: 47px;
    }
  }
}

.card__list {
  margin: 0;
  margin-bottom: 13px;
  padding: 9px 0;
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
  color: @color-gray-700;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: @breakpoint-medium) {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
  }
}

.card__title {
  margin: 0;
  padding-right: 4px;

  @media (min-width: @breakpoint-medium) {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid @color-gray-250;
  }
}

.card__definition {
  margin: 0;
  padding-left: 4px;
  text-align: right;

  @media (min-width: @breakpoint-medium) {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid @color-gray-250;
  }
}

.card__definition--price {
  text-transform: uppercase;
}

.card__button {
  position: relative;
  z-index: 1;
  grid-area: button;
}
