body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
  
    font-size: 14px;
    font-family: "Arial", sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;  
  }
  
  .col-1 {
   text-align: left;
  }
  
  .col-2 {
   text-align: center;
  }
  
  .col-3 {
   text-align: right;
  }
  
  .row-heading {
   background-color: darkcyan; 
   color: white;
  }
  
  .cell-highlight {
    background-color: lightblue;
  }
  
  th, td {
   padding: 10px;
  }
  
  td { 
   border-bottom: 1px solid lightgray;
  }
  
  th {
   width: 33%;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
  }
  
  .row-highlight {
    background-color: lightyellow;
  }