.card-row {
  padding: 13px 0 18px;

  @media (min-width: @breakpoint-medium) {
    padding: 25px 38px 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 27px;
  }

  @media (min-width: @breakpoint-large) {
    align-items: baseline;
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    column-gap: 0;
    padding: 14px 0 18px;
  }
}

.card-row__heading {
  margin: 0;
  margin-bottom: 13px;
  color: @color-gray-850;
  font-family: @font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @breakpoint-medium) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.card-row__list {
  margin-top: 0;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  color: @color-gray-700;
  line-height: 1;

  @media (min-width: @breakpoint-medium) {
    margin-bottom: 0;
    grid-template-columns: 1fr 82px;
    align-items: end;
    column-gap: 11px;
  }

  @media (min-width: @breakpoint-large) {
    grid-column: 3 / 5;
  }
}

.card-row__definition {
  margin: 0;

  &:last-child {
    text-align: right;
  }

  @media (min-width: @breakpoint-medium) {
    text-align: right;
  }

  @media (min-width: @breakpoint-large) {
    padding-right: 12px;
    text-align: left;

    &:last-child {
      text-align: left;
    }
  }
}

.card-row__definition--price {
  text-transform: uppercase;
}

.card-row__button {
  width: 100%;

  @media (min-width: @breakpoint-medium) {
    grid-column: 1 / -1;
  }

  @media (min-width: @breakpoint-large) {
    grid-column: 5 / 6;
  }
}
