.example {
  padding: 25px 0 43px;
  background-color: @color-gray-120;

  @media (min-width: @breakpoint-medium) {
    padding-top: 43px;
    padding-bottom: 62px;
    border-top: 1px solid @color-gray-150;
    background-image: linear-gradient(to top, @color-gray-100 462px, @color-white 462px);
  }

  @media (min-width: @breakpoint-large) {
    padding-top: 22px;
    padding-bottom: 70px;
    border-top: none;
  }
}

.example__container {
  @media (min-width: @breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 590px;
    gap: 80px;
  }
}

.example__content {
  margin-bottom: 29px;

  @media (min-width: @breakpoint-medium) {
    display: grid;
    grid-template-columns: 366px 1fr;
    column-gap: 32px;
    margin-bottom: 83px;
  }

  @media (min-width: @breakpoint-large) {
    margin-bottom: 0;
    grid-template-columns: 366px 70px 1fr;
  }
}

.example__view {
  @media (min-width: @breakpoint-large) {
    margin-top: -43px;
  }
}

.example__heading {
  @media (min-width: @breakpoint-medium) {
    grid-column: 1 / -1;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: @color-gray-700;

  @media (min-width: @breakpoint-medium) {
    grid-column: 1 / -1;
    margin-top: 10px;
    margin-bottom: 54px;
    padding-right: 8px;
  }

  @media (min-width: @breakpoint-large) {
    grid-column: 1 / -2;
    margin-top: 92px;
    margin-bottom: 66px;
    padding-right: 30px;
  }
}

.example__list {
  margin-top: 0;
  margin-bottom: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  text-align: center;

  @media (min-width: @breakpoint-medium) {
    margin-bottom: 0;
    gap: 42px;
  }

  @media (min-width: @breakpoint-large) {
    margin-bottom: 54px;
    grid-column: 1 / 2;
    gap: 42px;
  }
}

.example__item {
  padding: 14px 8px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid @color-gray-250;
  border-radius: 4px;

  @media (min-width: @breakpoint-medium) {
    padding-top: 17px;
  }

  @media (min-width: @breakpoint-large) {
    padding-top: 20px;
  }
}

.example__title {
  width: 87px;
  margin-bottom: -14px;
  padding: 0 4px;
  color: @color-gray-700;
  background-color: @color-gray-100;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;

  @media (min-width: @breakpoint-medium) {
    width: auto;
    margin-bottom: -6px;
    padding: 0 7px;
    background-color: @color-white;
    font-size: 14px;
  }

  @media (min-width: @breakpoint-large) {
    background-color: @color-gray-100;
  }
}

.example__result {
  margin: 0;
  margin-bottom: 7px;
  font-family: @font-heading;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @breakpoint-medium) {
    margin-bottom: 16px;
    font-size: 30px;
  }
}

.example__costs {
  margin: 0;
  font-family: @font-heading;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @breakpoint-medium) {
    padding-left: 50px;
    align-self: center;
    line-height: 30px;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: @breakpoint-large) {
    padding-left: 0;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    text-align: left;

    span:first-child {
      grid-column: 1 / 3;
    }

    span:last-child {
      text-align: center;
    }
  }
}

.example__images {
  margin-bottom: 16px;

  @media (min-width: @breakpoint-medium) {
    display: grid;
    grid-template-columns: 50% 1fr;
    margin-bottom: 26px;
    padding: 0 58px;
    overflow: hidden;
  }


  @media (min-width: @breakpoint-large) {
    padding: 0;
  }
}

.example__image {
  display: none;

  @media (min-width: @breakpoint-medium) {
    display: flex;
    overflow: hidden;

    img {
      width: 591px;
      height: 511px;
      max-width: none;
    }
  }
}

.example__image--before {
  @media (min-width: @breakpoint-medium) {
    img {
      margin-left: 0;
    }
  }
}

.example__image--after {
  @media (min-width: @breakpoint-medium) {
    justify-content: end;
  }
}

.example__image--active {
  display: block;
}

.example__image--mobile {
  margin: 10px 0 0 19px;

  @media (min-width: @breakpoint-medium) {
    margin: 0;
    margin-left: -100%;
  }
}
