body {
  min-width: 1040px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  color: #404040;
  font-style: normal;

  background-color: white;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.container-wide {
  width: 1015px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  font: inherit;
  font-weight: bold;
  line-height: inherit;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-solid {
  color: #ffffff;
  background-color: #834700;
  border: 2px solid #834700;
}

.btn-solid:hover {
  background-color: #6a3900;
  border-color: #6a3900;
}

.btn-solid:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5c3200;
  border-color: #5c3200;
}

.btn-transparent {
  color: #834700;
  border: 2px solid #834700;
}

.btn-transparent:hover {
  color: #6a3900;
  border-color: #6a3900;
}

.btn-transparent:active {
  color: rgba(92, 50, 0, 0.3);
  border-color: #cec1b2;
}

.btn-transparent-light {
  color: #bcb6ab;
  border: 2px solid #a5a097;
}

.btn-transparent-light:hover {
  color: #ffffff;
  background-color: #a5a097;
  border-color: #a5a097;
}

.btn-transparent-light:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #8f8a81;
  border-color: #8f8a81;
}

.block-title {
  margin: 0;
  margin-bottom: 75px;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  text-transform: uppercase;
}

/* --- Шапка --- */

.page-header {
  height: 490px;
  padding-top: 60px;
  background-color: #7a5118;
  background-image: url("../img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header-top {
  margin-bottom: 120px;
}

.logo-header {
  float: left;
  width: 140px;
  height: 76px;
}

.main-nav {
  float: right;
  width: 600px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav li {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 13px;
  font-weight: bold;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav a:hover {
  color: #ffcb78;
}

.main-nav li:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
}

.main-nav a:active {
  color: rgba(255, 203, 120, 0.3);
}

.slide-desription {
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}

/* --- Новости --- */

.news {
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: #ffffff;
}

.news-item {
  position: relative;
  float: left;
  width: 334px;
  padding-right: 30px;
  padding-left: 34px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.news-item:nth-child(2n) {
  border-left: none;
}

.news-item-title {
  position: relative;
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  text-transform: uppercase;
}

.news-item-pic {
  margin-top: 30px;
  margin-left: 10px;
}

.news-item-info {
  position: absolute;
  top: 85px;
  right: 0;
  width: 150px;
  padding-right: 25px;
}

.news-item-stats {
  width: 150px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  border-collapse: collapse;
}

.news-item-stats td {
  border: 1px solid #e5e5e5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}


.news-item-composition {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.news-item-description {
  width: 330px;
  margin-top: 0;
  margin-bottom: 60px;
}

.news-item-controls {
  font-size: 0;
}

.news-item-controls a {
  font-size: 16px;
}

.news-item-controls .btn-transparent {
  margin-right: 7px;
}

.news-item-price {
  display: inline-block;
  margin-left: 25px;
  font-size: 16px;
  vertical-align: middle;
  color: #000000;
}

/* --- Гарантии --- */

.warranty {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #ffcb78;
}

.warranty-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.warranty-list li {
  position: relative;
  float: left;
  width: 210px;
  padding-right: 95px;
  padding-left: 95px;
  border-right: 1px solid #e5b66c;
}

.warranty-list li:first-child {
  padding-left: 0;
}

.warranty-list li:last-child {
  padding-right: 0;
  border-right-color: transparent;
}

.warranty-list li::before {
  content: "";
  position: absolute;
}

.handmade::before {
  width: 50px;
  height: 68px;
  background-image: url("../img/icon-brew.png");
}

.own::before {
  width: 46px;
  height: 65px;
  background-image: url("../img/icon-matreshka.png");
}

.quality::before {
  width: 63px;
  height: 58px;
  background-image: url("../img/icon-thumbsup.png");
}

.warranty-title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

.warranty-text {
  margin: 0;
}

/* --- История --- */

.theory {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.theory-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  text-transform: uppercase;
}

.theory-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.theory-item-heading {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.source {
  float: right;
  width: 196px;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
}

.theory-item-body {
  margin-left: 0;
}

.theory-item-body img {
  float: right;
  width: 200px;
  margin-top: 10px;
}

.theory-item-body p {
  float: left;
  width: 490px;
  margin: 0;
}

.theory-link {
  color: #834700;
  font-style: italic;
}

.theory-link:hover {
  color: #6a3900;
}

.theory-link:active {
  color: #cab7a2;
}
/* --- Отзывы --- */

.reviews {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #ede5d8;
}

.review {
  position: relative;
  margin: 0;
}

.review::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -105px;
  width: 41px;
  height: 31px;

  background-image: url("../img/quotes.png");
}

.review p {
  width: 690px;
  margin: 0;
  margin-bottom: 35px;
}

.review cite {
  float: right;
  width: 330px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
}

/* --- Ассортимент --- */

.price {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
}

.price-table th {
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
  color: #999999;
  text-transform: uppercase;
}

.price-table td {
  padding: 17px 0;
}

.price-table th,
.price-table td {
  border-bottom: 1px solid #e5e5e5;
}

.price-item-name {
  width: 400px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.price-item-alcohol {
  width: 90px;
}

.price-item-caloricity {
  width: 60px;
}

.price-item-volume {
  text-transform: uppercase;
}

th.price-item-cost,
td.price-item-cost {
  text-align: right;
}

.tip {
  margin-left: 20px;
  padding: 2px 5px;
  font-size: 8px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  border-radius: 2px;
}

/* --- Заказать --- */

.feedback {
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: #ffcb78;
}

.feedback-annotation {
  width: 660px;
  margin: 0;
  margin-bottom: 70px;
}

.order-form {
  width: 630px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #000000;
  text-transform: uppercase;
}

.form-group input[type="text"],
.form-group textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
  padding-left: 20px;
  font: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #b69054;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.form-group textarea {
  height: 120px;
  resize: none;
}

.form-group input[type="text"]:hover,
.form-group textarea:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
  color: #000000;
  background-color: #ffffff;
}

.left-part {
  float: left;
  width: 290px;
}

.right-part {
  float: right;
  width: 290px;
}

.checkbox-area {
  margin-bottom: 40px;
}

.checkbox-area input {
  margin: 0;
  margin-right: 10px;
}

.checkbox-area label {
  margin-right: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
}

/* --- Футер --- */

.page-footer {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #000000;
}

.logo-footer {
  float: left;
  width: 140px;
  height: 76px;
  margin-left: 37px;
}

.footer-nav {
  margin-top: 7px;
  margin-right: 107px;
}

.footer-bottom {
  margin-top: 47px;
}

.footer-social {
  float: left;
  width: 216px;
}

.footer-social a {
  position: relative;
  float: left;
  width: 70px;
  height: 66px;
  margin-left: -1px;
  font-size: 0;
  background-color: #1b1b1b;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgba(255, 203, 120, 0.1);
}

.footer-social a:hover {
  z-index: 1;
  border-color: rgba(255, 203, 120, 0.3);
}

.footer-social a:active {
  opacity: 0.5;
}

.footer-social-vk {
  background-image: url("../img/icon-vk.png");
}

.footer-social-fb {
  background-image: url("../img/icon-fb.png");
}

.footer-social-in {
  background-image: url("../img/icon-insta.png");
}

.footer-annotation {
  float: left;
  width: 200px;
  margin-top: 12px;
  margin-left: 91px;
  font-size: 14px;
  line-height: 20px;
  color: #989898;
}

.footer-annotation p {
  margin: 0;
}

.footer-copyright {
  float: left;
  width: 300px;
  margin-left: 200px;
  font-size: 0;
}

.footer-copyright a {
  color: #989898;
  text-decoration: none;
}

.logo-htmlacademy {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 66px;
  vertical-align: top;
  background-color: #1b1b1b;
  border: 1px solid rgba(255, 203, 120, 0.1);
}

.logo-htmlacademy:hover {
  border-color: rgba(255, 203, 120, 0.3);
}

.logo-htmlacademy:active {
  opacity: 0.5;
}

.logo-htmlacademy img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-copyright span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #989898;
}

.copyright-text {
  margin-top: 25px;
  margin-left: 30px;
}
